:root{
  --block-size: 80px;
}

.App {
  font-family: Karla, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  text-align: center;
  width: 100vw;
  position: relative;
}
.chart-container{
  background-color: white;
  width: 100%;
  margin: auto;
}
main{
  margin-left: 5%;
  margin-right: 5%;
}
.main-screen{
  margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocks-container{
  display: grid;
  grid-template-columns: var(--block-size) var(--block-size) var(--block-size);
  grid-template-rows: var(--block-size) var(--block-size) var(--block-size);
  gap: 10px;
  margin-top: 20px

}
.btn-play-container{
  margin-top: 50px;
}
footer{
  color: white;
  font-family: inherit;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.title{
  font-size: 2.5rem;
}

.title-container{
  color: white;
  padding-top: 5px;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .blocks-container{
    --block-size: 95px;
  }
}
@media only screen and (min-width: 650px) {
  .chart-container{
    width: 80%;
  }
}
@media only screen and (min-width: 800px){
  .chart-container{
    width: 50%;
  }
}
@media only screen and (min-width: 100px) {
  .chart-container{
    width: 450px;
  }
}