:root{
  --block-size: 80px;
}

.App {
  background-color: #390930;
  font-family: Karla;
  height: 100vh;
  margin: 0;
  text-align: center;
  width: 100vw;
}
main{
  margin-left: 5%;
  margin-right: 5%;
}
.blocks-container{
  display: grid;
  grid-template-columns: var(--block-size) var(--block-size) var(--block-size);
  grid-template-rows: var(--block-size) var(--block-size) var(--block-size);
  gap: 10px;
  margin-top: 80px

}
.btn-play-container{
  margin-top: 100px;
}
footer{
  color: white;
  font-family: inherit;
  bottom: 20px;
  left: 0;
  right: 0;
  position: absolute;
}
.title-container{
  color: white;
  padding-top: 80px;
}