.flex{
    display: flex;
}

.btn-play{
    border: none;
    border-radius: 5px;
    background: #93B213;
    color: white;
    cursor: pointer;
    font-style: inherit;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    width: 250px;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.m-0{
    margin:0
}

.text-md{
    font-size: 3rem;
}
.text-sm{
    font-size: 1.2rem;
}