.flex{
    display: flex;
}

.btn-arrow{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-play{
    border: none;
    border-radius: 5px;
    background: #93B213;
    color: white;
    cursor: pointer;
    font-style: inherit;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    width: 250px;
}
.no-bd{
    border:none
}
.flex-start{
    justify-content: flex-start;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.gap-sm{
    gap: 10px;
}

.gap-md{
    gap: 20px;
}

.m-0{
    margin:0
}

.m-auto{
    margin: auto
}

.mt-sm{
    margin-top: 10px;
}

.mt-md{
    margin-top: 20px;
}


.nav-text{
    text-decoration: none !important;
    color: white;
}

/* 
padding: "10px", 
                background: "#4F0B42",
                borderRadius: "5px" 
*/

.text-important{
    background: #4F0B42;
    border-radius: 5px;
    padding: 10px;
}

.text-md{
    font-size: 3rem;
}
.text-sm{
    font-size: 1.2rem;
}
.pad-sm{
    padding: 5px
}
.pad-md{
    padding: 15px;
}
.w-sm{
    width: 50px
}
.w-md{
    width: 60px;
}